<mat-toolbar color="primary" class="header-toolbar">
  <span class="logo" routerLink="/">Store App</span>

  <span class="spacer"></span>


  <mat-form-field appearance="fill" class="language-dropdown">
    <mat-select [(value)]="selectedLanguage" (selectionChange)="switchLanguage($event.value)">
      <mat-option value="en">En</mat-option>
      <mat-option value="ar">Ar</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-icon-button (click)="logout()" matTooltip="Logout">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
